

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


html, body {
  width: 100%;
  height: 100%;
}

body {
  padding-bottom: 40px;
}
.webpage-background {
   background-image:url('assets/img/background5.jpg');
   /*background: #81DAF5;*/ 
}
.schedule-perm-container {
 background-position: -24px -72px;
}

/* Custom container */
.container {
  /*margin: 0 auto;*/
  width: 85%;
  color: #5a5a5a;
}
.pagination-centered {
  
    overflow: scroll;
    
    /*max-height: 100%;*/
  
    width: 100%;
    overflow: visible;
    background: #FFFFFF;
    padding-bottom: 2%;   
    margin-bottom:20px;
    
    
}
.footer {
  width: 100%;
  height: 10px;
  margin-top: 30px;
  background-color: white;
}
.inner-pagination-centered {
   /*overflow: scroll;*/
   /*height: 640px;*/
   /*height: 30%;*/
   /*max-height: 80%;*/
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   /*padding-bottom: 24px;*/
    padding-bottom: 30px;
    
}
.container > hr {
  margin: 10px 0;
}

.btn-primary { 
	font-size:150%;
	-webkit-border-radius: 20px;
   	-moz-border-radius: 20px;
   	border-radius: 20px;
}

#sortable-buttons .btn {
    -webkit-transition: none;
    box-shadow: none;
}

.modal {
    position: absolute;
    overflow: visible; /* allow content to popup out (i.e tooltips) */
}
.embedded-pages {
    position: absolute;
    overflow: visible;
}

/* CUSTOMIZE dropdown menu
-------------------------------------------------- */
.btn-toolbar2 >.btn-group + .btn-group {
margin-left: -5px;
}

.btn-toolbar2 > .btn-group > .btn, .btn-toolbar2 > .btn-group > .dropdown-toggle
{
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    
}
.dropdown-toggle  {
    padding-right:30px;	
    margin-right: 20px;
}
.btn-group > .btn {
	height: 30px;
}

.btn-toolbar2 > .btn-group:first-child > .btn, .btn-toolbar2 > .btn-group:first-child > .dropdown-toggle{
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;    
}

.btn-toolbar2 > .btn-group:last-child > .btn:last-child, .btn-toolbar2 > .btn-group:last-child > .dropdown-toggle:nth-last-child(2){
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;    
}

.btn-toolbar2 > .btn-group:last-child > .btn:last-child, .btn-toolbar2 > .btn-group:last-child > .dropdown-toggle:nth-last-child(2){
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;    
}

/* CUSTOMIZE modal-body FOR EACH POPUP
-------------------------------------------------- */
.schedule-perm-popup .modal-body {
    max-height: 100%;
    height: 600px;
}
.schedule-display {
	padding-left:10%;
	color: white;	
	padding-bottom: 2%;
	padding-top: 1%;
}

#personality-tab .modal-body {
    max-height: 100%;
}
#academic-history-tab .modal-body {
    max-height: 100%;
    height: 220px;
}
#hard-constraint-tab .modal-body {
    max-height: 100%;
    height: 300px;
}

/* CUSTOMIZE EACH POPUP
-------------------------------------------------- */
.modal-footer {
	max-height: 30px;
}

.schedule-perm-popup {
    width: 88%;
    top: 3%;
    left: 22%;
}

#personality-tab {
    width: 320px;
    font-size: 14px;
    top: 15%;
    left: 42%;
}
#academic-history-tab {
    width: 30%;
    top: 15%;
    left: 53%;
    right: 0px;
}
#hard-constraint-tab {
    top: 15%;
    left: 67%;
    right: 0px;
    width: 500px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

/* CLASS MATCH STYLE
-------------------------------------------------- */          
.display-matched-classes {
    margin-left: 100px;
}

.class-match-wrapper {
    max-width: 100%;
    
}
.class-checkbox {
    margin-top: 2px;
    margin-bottom: 2px;
}

.expand-collapse-button {
    font-size: 100%;
    font-weight: bold;
    color: gray;
    float: left;
    padding-right: 8px;
    cursor: pointer;
}

.class-matches {
	width: 120%;	
}

.class-match {
    font-size: 90%;
    font-weight: bold;
    color: blue;
    float:left;
    padding-top: 5px;
}

.class-info {
    font-size: 80%;
    color: green;
    float:left;
    text-align:left;
    width: 100%;
    border: 0px solid gray;
    padding-left: 4%;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 0px;
    display: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}